section.resume-section {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
  max-width: 75rem;
  .resume-item {
    margin-bottom: 1.5rem;
    .resume-content {}
    .resume-date {
      min-width: none;
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
}
